:root {
  --primary-text: rgba(255, 255, 255, 0.87);
  --primary-color: pink;
  --background-primary: #242424;
  --background-secondary: #3b3b3b;
  --radius: 4px;
  --border: 1px solid var(--primary-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: var(--border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--primary-color);
}
button:disabled {
  border: 1px solid transparent;
}

input {
  box-sizing: border-box;
  background-color: var(--background-secondary);
  border-radius: var(--radius);
  border: var(--border);
  outline: none;
  height: 40px;
  width: 100%;
}

input::placeholder {
  text-align: center;
  color: var(--primary-text);
}

#app {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 100vb;
  text-align: center;
  display: flex;
  justify-content: center;
}

.layout {
  width: 500px;
}

.w-100 {
  width: 100%;
}

.card {
  padding: 2em;
  background-color: var(--background-secondary);
}
